{% extends 'layout.html' %}{% load static %}

{% block title %}{{ pea_branch.pea_branch }}{% endblock title %}

{% block body %}
    <div class="container">
        <h1 class="text-center">ยืนยันการลบข้อมูล</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="formGroupExampleInput">รหัสการไฟฟ้า</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="รหัสการไฟฟ้า" value="{{ pea_branch.pea_branch }}" readonly>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">ชื่อการไฟฟ้า</label>
                <input type="text" name="pea_name" class="form-control" id="formGroupExampleInput2" placeholder="ชื่อการไฟฟ้า" value="{{ pea_branch.pea_name }}" readonly>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">สินค้า</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="สินค้า" value="{{ pea_branch.product }}" readonly>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">คลัง</label>
                <input type="number" name="stock" min="0" class="form-control" id="formGroupExampleInput2" placeholder="คลัง" value="{{ pea_branch.stock }}" readonly>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">ยอดขาย</label>
                <input type="number" name="circulation" min="0" class="form-control" id="formGroupExampleInput2" placeholder="ยอดขาย" value="{{ pea_branch.circulation }}" readonly>
            </div>
            <button type="submit" class="btn btn-danger">ลบข้อมูล</button>
        </form>
    </div>
{% endblock body %}